body {
    margin: 0%;
}

header {
    height: 50px;
    width: 100%;
    background-color: aquamarine;
    position: fixed;
}

header .main-list .logo {
    max-height: 50px;
}

.main-list li {
    display: inline-block;
    vertical-align: top;
}

.sub-list {
    position: absolute;
    list-style: none;
    padding: 0%;
}

.sub-list li {
    display: none;
}

.main-list li:hover .sub-list li {
    display: block;
}