<html>
    <head>
        <title>{{ page.title }} | {{ site.title }}</title>
        <link rel="stylesheet" href="assets/css/demo.css">
    </head>
    <body style="margin: 0%;">
        <header>
            <ul class="main-list">
                <li><img src="{{ site.logo }}" id="logo"></li>
                <li><span id="title">Tansan Sui - DEMO</span></li>
                <li><span id="top">Top</span></li>
                <li>Posts
                    <ul class="sub-list" style="list-style: none;">
                        <li><span id="archives">Archives</span></li>
                        <li><span id="tags">Tags</span></li>
                    </ul>
                </li>
                <li style="display: inline-block; vertical-align: top;"><span id="links">Links</span>
                    <ul class="sub-list" style="list-style: none;">
                        <li>GitHub</li>
                        <li>Twitter</li>
                        <li>YouTube</li>
                    </ul>
                </li>
            </ul>
        </header>
        <div class="header padding" style="height: 50px; width: 100%;"></div>
        
        <div id="main-contents">
            {{ content }}
        </div>
        
        <footer>
        </footer>
    </body>
</html>