<html>
    <head>
        <title>{{ page.title }} | {{ site.title }}</title>
        <link rel="stylesheet" href="assets/css/demo.css">
    </head>
    <body style="margin: 0%;">
        <header>
            <ul class="main-list">
                <li><img class="logo" src="{{ site.logo }}"></li>
                <li><span id="title">Tansan Sui - DEMO</span></li>
                <li><span id="top">Top</span></li>
                <li>Posts
                    <ul class="sub-list" style="list-style: none;">
                        <li><span id="archives">Archives</span></li>
                        <li><span id="tags">Tags</span></li>
                    </ul>
                </li>
                <li style="display: inline-block; vertical-align: top;"><span id="links">Links</span>
                    <ul class="sub-list" style="list-style: none;">
                        <li><img class="links-logo" src=""><a href="https://github.com/TansanSui-H2CO3">GitHub</a></li>
                        <li><img class="links-logo" src="assets/img/2021_Twitter_logo_black.png"><a href="https://twitter.com/TansanSui_H2CO3">twitter</a></li>
                        <li><img class="links-logo" src=""><a href="https://www.youtube.com/channel/UCIjNDXS1gVHYQXWUfvkbUEw/featured?view_as=subscriber">YouTube</a></li>
                    </ul>
                </li>
            </ul>
        </header>
        <div class="header padding" style="height: 50px; width: 100%;"></div>
        
        <div id="main-contents">
            {{ content }}
        </div>
        
        <footer>
        </footer>
    </body>
</html>